.flexbox {
    display: flex;
}

.bgnav {
    background-color: rgba(78, 78, 78, 0.007);
}

.header-white {
    background-color: rgba(85, 85, 85, 0.945);
}

.card {
    margin-right: 30%;
}

.logo img {
    width: 100px;
    height: 60px;
    margin-left: 50px;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.footer {
    background: black;
    height: 50vh;
    margin-top: 40px;
}

#titre_principal_footer {
    display: flex;
    flex-direction: column;
}

#logo_footer {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    color: #fff;
}

#logo_footer img {
    width: 100px;
    height: 60px;
    margin-left: 50px;
    color: #fff;
}

.footer a {
    text-decoration: none;
    color: #fff;
}

.footer a:hover {
    color: #fff;
}

.liena_footer {
    margin-top: 50px;
}

.liena_footer h4 {
    color: #fff;
}

#footer_flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: flex-start;
}

.footer button {
    float: right;
    margin-top: 40px;
    margin-right: 50px;
    border-radius: 10px;
}

.footer p {
    text-align: center;
    margin-top: 50px;
    color: #fff;
}
